{% extends 'base.html' %} {% block update %}

<div class="container my-5">
  <h2>Update Card</h2>
  <form action="/update/{{card.sno}}" , method="POST">
    <div class="mb-3">
      <label for="ques" class="form-label">Update Question </label>
      <input
        type="text"
        class="form-control"
        id="ques"
        aria-describedby="emailHelp"
        name="ques"
        value="{{card.ques}}"
      />
    </div>
    <div class="mb-3">
      <label for="ans" class="form-label">Upadte Answer</label>
      <input
        type="text"
        class="form-control"
        id="ans"
        name="ans"
        value="{{card.ans}}"
      />
    </div>

    <button type="submit" class="btn btn-outline-primary">Update</button>
  </form>
</div>

{% endblock update %}
